SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/appsettings.Development.json
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/appsettings.json
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/Humanizer.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/Microsoft.Data.Sqlite.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/Microsoft.DotNet.PlatformAbstractions.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Sqlite.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/Microsoft.Extensions.DependencyModel.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/Microsoft.OpenApi.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/Newtonsoft.Json.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/SpeedTest.API.deps.json
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/SpeedTest.API.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/SpeedTest.API.exe
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/SpeedTest.API.pdb
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/SpeedTest.API.runtimeconfig.dev.json
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/SpeedTest.API.runtimeconfig.json
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/SQLitePCLRaw.batteries_v2.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/SQLitePCLRaw.core.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/SQLitePCLRaw.nativelibrary.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/SQLitePCLRaw.provider.dynamic_cdecl.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/ref/SpeedTest.API.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/runtimes/alpine-x64/native/libe_sqlite3.so
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/runtimes/linux-arm/native/libe_sqlite3.so
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/runtimes/linux-arm64/native/libe_sqlite3.so
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/runtimes/linux-armel/native/libe_sqlite3.so
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/runtimes/linux-mips64/native/libe_sqlite3.so
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/runtimes/linux-x64/native/libe_sqlite3.so
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/runtimes/linux-x86/native/libe_sqlite3.so
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/runtimes/osx-x64/native/libe_sqlite3.dylib
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/runtimes/win-arm/native/e_sqlite3.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/runtimes/win-arm64/native/e_sqlite3.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/runtimes/win-x64/native/e_sqlite3.dll
SpeedTest.API/SpeedTest.API/bin/Debug/net5.0/runtimes/win-x86/native/e_sqlite3.dll
SpeedTest.API/SpeedTest.API/obj/project.assets.json
SpeedTest.API/SpeedTest.API/obj/project.nuget.cache
SpeedTest.API/SpeedTest.API/obj/project.packagespec.json
SpeedTest.API/SpeedTest.API/obj/rider.project.restore.info
SpeedTest.API/SpeedTest.API/obj/SpeedTest.API.csproj.EntityFrameworkCore.targets
SpeedTest.API/SpeedTest.API/obj/SpeedTest.API.csproj.nuget.dgspec.json
SpeedTest.API/SpeedTest.API/obj/SpeedTest.API.csproj.nuget.g.props
SpeedTest.API/SpeedTest.API/obj/SpeedTest.API.csproj.nuget.g.targets
SpeedTest.API/SpeedTest.API/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
SpeedTest.API/SpeedTest.API/obj/Debug/net5.0/apphost.exe
SpeedTest.API/SpeedTest.API/obj/Debug/net5.0/SpeedTest.API.AssemblyInfo.cs
SpeedTest.API/SpeedTest.API/obj/Debug/net5.0/SpeedTest.API.AssemblyInfoInputs.cache
SpeedTest.API/SpeedTest.API/obj/Debug/net5.0/SpeedTest.API.assets.cache
SpeedTest.API/SpeedTest.API/obj/Debug/net5.0/SpeedTest.API.csproj.AssemblyReference.cache
SpeedTest.API/SpeedTest.API/obj/Debug/net5.0/SpeedTest.API.csproj.CoreCompileInputs.cache
SpeedTest.API/SpeedTest.API/obj/Debug/net5.0/SpeedTest.API.csproj.FileListAbsolute.txt
SpeedTest.API/SpeedTest.API/obj/Debug/net5.0/SpeedTest.API.dll
SpeedTest.API/SpeedTest.API/obj/Debug/net5.0/SpeedTest.API.GeneratedMSBuildEditorConfig.editorconfig
SpeedTest.API/SpeedTest.API/obj/Debug/net5.0/SpeedTest.API.genruntimeconfig.cache
SpeedTest.API/SpeedTest.API/obj/Debug/net5.0/SpeedTest.API.MvcApplicationPartsAssemblyInfo.cache
SpeedTest.API/SpeedTest.API/obj/Debug/net5.0/SpeedTest.API.MvcApplicationPartsAssemblyInfo.cs
SpeedTest.API/SpeedTest.API/obj/Debug/net5.0/SpeedTest.API.pdb
SpeedTest.API/SpeedTest.API/obj/Debug/net5.0/SpeedTest.API.RazorTargetAssemblyInfo.cache
SpeedTest.API/SpeedTest.API/obj/Debug/net5.0/ref/SpeedTest.API.dll
SpeedTest.API/SpeedTest.API/obj/Debug/net5.0/staticwebassets/SpeedTest.API.StaticWebAssets.Manifest.cache
SpeedTest.API/SpeedTest.API/obj/Debug/net5.0/staticwebassets/SpeedTest.API.StaticWebAssets.xml
